{% extends "layout.html" %}
{% block content %}

	<div class = "container-fluid">

		<div id="accordion">
		{% for post in posts %}
		  <div class="card">
			<div class="card-header">
			  <a class="card-link" data-toggle="collapse" href="#{{post.id}}">{{post.post_title}}</a>

			</div>
			<div class="collapse" id = "{{post.id}}" data-parent="#accordion">
			  <div class="card-body">
				<div class="container-fluid">
					<div class = "col">
						<img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Roosterhawaii.jpg" width=400 height=400></img>
					</div>
					<div class="row">
						
						<div class="col">
							<h4>{{post.post_text}}</h4>
							{% for reply in post.replies %}
							<div class = "row">
								<h5>{{reply.text}}</h5>
							</div>
							{% endfor %}
							<form action="" method="POST">
								<div class = "row">
									<textarea rows="4" cols="50"></textarea>
								</div>
								<div class = "row">
									<input type = "Submit" value = "Post"></input>
								</div>
							</form>
						</div>
					</div>
				</div>
			  </div>
			</div>
		  </div>
		{% endfor %}
		</div>


	</div>


{% endblock content  %}
